# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
.env/

# VS Code
.vscode/

.idea/

./datasets/

*.jpg

*.tfrec

# Data files (optional)
*.csv
*.tsv
*.zip
*.h5
*.pkl
*.jpg

